.whole-body {
  height: auto;
  width: 100%;

  /* background-image: url("https://images.unsplash.com/photo-1697508753611-82f4b1288cac?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
  background-image: url(./forbackground.jpg);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
}

.imagepreloader {
  display: none;
  background-image: url(./forbackground.jpg);
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
}
.h-global {
  height: 100%;
}

.width-global-80 {
  width: 30%;
}

.active {
  text-decoration: none;
  color: white;
}
.aactive {
  color: #dbbe00;
  text-decoration: none;
}

.global-bg-cards {
  background-color: rgb(181, 179, 179);
}

.bg-global {
  background-color: #dbbe00;
}

@media (max-width: 767px) {
  .width-global-80 {
    width: 70%;
    margin: 30px 0;
  }
}

.blurred {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(4px);
  transition: backdrop-filter 0.5s ease;
  z-index: 7;
  transform: translateY(1);
}
.for-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150vh;
  z-index: 8;
  margin-top: 100px;
}

.background1 {
  background-image: url("https://images.unsplash.com/photo-1628204146743-ee4c51566096?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
}
.background2 {
  background-image: url("https://images.unsplash.com/photo-1700450733618-3eb9aac61d93?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
}
.background3 {
  background-image: url("https://images.unsplash.com/photo-1683573254548-ebb7b94d7def?q=80&w=1953&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
}

.myfont {
  font-size: 1.5em;
  font-weight: bold;
}
.myfontsub {
  font-size: 1.3em;
}

.abccheck {
  border: solid pink;
}

/* for faq */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.faq {
  text-align: center;
  margin-top: 50px;
}

.faq-section {
  max-width: 600px;
  margin: 0 auto;
}

.faq-section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-question {
  font-size: 18px;
  margin-bottom: 10px;
}

.faq-answer {
  font-size: 16px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.fruit {
  flex: 0 0 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
}

img.letter-animation {
  width: 80%;
  height: auto;
}

.shop-now-button {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  background-color: #ff9900;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* suvasearch cards forcards */

.product-container {
  text-decoration: none;
  color: black;
}

.card-container {
  width: 300px;
  padding: 16px;
  margin: 16px;
  background-color: #fff;
  border: 1px solid #ddd; /* Border color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow */
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.card-title {
  margin-bottom: 8px;
  font-size: 1.5rem;
  text-align: center;
}

.card-image {
  width: 100%;
  height: 200px; /* Maintain fixed height for the image */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card-category {
  margin-bottom: 12px;
  font-style: italic;
  color: #888;
  text-align: center;
}

.card-buttons {
  margin-top: auto; /* Push buttons to the bottom */
  display: flex;
  width: 70%;
}

.card-button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}

/* for suvasearchcards ends here */
