.whole-body {
  height: auto;
  width: 100%;

  background-image: url("https://images.unsplash.com/photo-1697508753611-82f4b1288cac?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
   
  background-position: center, center;
  background-size: cover;
  background-repeat: no-repeat, no-repeat;
}
.h-global {
  height: 300px;
}

.width-global-80 {
  width: 30%;
}

.global-bg-cards {
  background-color: rgb(181, 179, 179);
}

.bg-global{
  background-color: #DBBE00;
}

@media (max-width: 767px) {
  .width-global-80 {
    width: 70%;
    margin: 30px 0;
  }
}
